@keyframes fade{
	0%{
		 opacity: 1;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes fade{
		0%{
		 opacity: 1;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
@-ms-keyframes fade{
		0%{
		 opacity: 1;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}

@-moz-keyframes fade{
		0%{
		 opacity: 1;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}


.con:hover img,.common li:hover img{
	animation:fade .5s linear infinite;
}

.header,main,footer{
	width:100%;
}
.header{
	/*height:375px;*/
	/*background-color: red;*/
	overflow: hidden;
}
.header-top{
	width:100%;
	height:74px;
	background-color: white;
	border-bottom:1px solid #d4cec2;
	box-shadow:0px 0px 5px #cecfcf inside;

}
.header-top .inner{
	height:74px;
	/*background-color:blue;*/
}
.header-top .inner .logo{
	width:134px;
	height:74px;
	/*background-color:red;*/
	float:left;

}
.header-top .inner .logo:hover{
	animation:fade .5s linear infinite;
}
.header-top .inner .logo h1{
	width:134px;
	 height:74px;
	/*background-color: black;*/
	background-image: url(../img/logonew.png);
	background-repeat: no-repeat;
	background-size: contain;
	/*padding-top: 5px;*/
}
.header-top .inner .logo a{
	display: block;
	width:134px;
	 height:74px;
	 text-indent: -30000px;

}
.header-top .inner .login{
	float:right;
	display: inline-block;
	width:50px;
	height:30px;
	border-radius: 2px;
	color:#fa553f;
	border:1px solid #fa553f;
	text-align: center;
	line-height: 30px;
	margin-top: 21px;
	transition: all .1s linear;
}
.header-top .inner .login:hover{
	background-color: #fa553f;
	color:white;
}
.header-top .inner .search .icon{
	float:right;
	margin-top: 25px;
	margin-right: 34px;
	font-size: 20px;
	transition: all .1s linear;
}
.header-top .inner .search .icon:hover{
	/*font-size: 24px;*/
	transform:scale(1.5,1.5);
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	-ms-transform:scale(1.5,1.5);
}

.header-top .inner .nav{
	width:400px;
	height:74px;
	/*background-color:yellow;*/
	float:left;
	margin-left: 65px;
}
.header-top .inner .nav ul li{
	float:left;
	padding-top: 34px;
	margin-right: 50px;
	font-size: 20px;

}
.header-top .inner .nav ul li a{
	color:black;
}
.header-top .inner .nav ul .active a{
	color:#ff3a35;
}
.header-top .inner .nav ul li a:hover{
	color:#ff3a35;
	text-decoration: none;
}
.inner{
	width:1002px;
	margin:0 auto;
}

.con{
	width: 220px;
	height: 285px;
	display: block;
	/*background-color:yellow;*/
	border:1px solid #ccc;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 38px;
	color:black;
}

.con .top-tip{
	position:absolute;
	top:0;
	right:0;
	padding:4px 8px;
	border-radius: 0 0 0 6px;
	z-index: 10;
}

.con .sf{
	background-color: red;
	color:white;
}
.con .ty{
	background-color: #f7f2ca;
	color:#cdc295;
}
.con .name{
	padding:10px 8px;
	/*height:180px;*/
	text-align: center;
}
.con .label {
	text-align: center;
}
.con .label span{
	display: inline-block;
	padding:6px 10px;
/*	border:1px solid red;
*/	border-radius: 4px;
}
.con .red{
	color:red;
	 
}
.con .green{
	color:green;
	 
}
.con .label .red{
	border:1px solid red;
}
.con .label .green{
	border:1px solid green;
}
.con .sq{
	padding:10px 0;
	text-align: center;
	font-size: 20px;
}
.con .current{
	text-align: center;
	font-size: 20px;
}
.common ul li{
	width:222px;
	height:233px;
	float:left;
	/*background-color: yellow;*/
	margin: 0 27px 20px 0;
	border-radius: 6px;
	background-color: white;
	border:1px solid #ccc;

}
.common ul li img{
	border-radius: 6px 6px 0px 0px; 
}

.common ul li:nth-child(4n+4){
	margin-right: 0;
}
.common ul li .info{
	padding:10px 10px;
	height:98px;
}
.common ul li .info .name{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 15px;
}
.common ul li .info .left{
	float:left;
}
.common ul li .info .right{
	float:right;
}
.common ul li .info .right span{

	padding-left: 15px;

	 }
.common ul li .info .right .xin{
	background:url('./img/xin.png') no-repeat left center;
}
.common ul li .info .right .look{
	background:url('./img/zan.png') no-repeat left center;
}

.common ul li .list{
	background:url('./img/listbg.jpg') no-repeat left bottom;
}
/*
.footer{
	height:360px;
	background-color: green;
}
*/

.common ul li .info .price{
	color:red;
}
.common ul{
	overflow: hidden;
}
.common .btn-more{
	text-align: center;
	padding-bottom: 20px;
}
.common .btn-more .comMore{
	color:red;
	padding-left: 20px;
	 
}
.common .btn-more .cj{
	background: url('./img/more.png') no-repeat left center;
}
.common .btn-more .loading{
	background: url('./img/loading-icon.gif') no-repeat left center;



}

.common .btn-more .no-more{
	color:blue;
}

.footer{
	height: 360px;
	width:100%;
	
}	
dl dd{margin:0;}
.foot{padding:40px 0 15px;background-color: #666;overflow: hidden;}
.foot dl{float:left;font-size:13px;padding-left:22px;line-height:20px;}
.foot dl dt{font-size:16px;padding-bottom:25px;}
.foot dl:nth-child(2) dd:last-child{margin-top:13px;}
.foot dl:nth-child(4) dd a{display:inline-block;width:69px;}
.foot dl:nth-child(1){padding-left:0;}
.foot dl:nth-child(2){width:140px;}
.foot dl:nth-child(3){width:100px;}
.foot dl:nth-child(4){width:140px;}
.foot dl:nth-child(5){width:148px;}
.foot dl:nth-child(6){width:180px;}
.foot .copy{text-align:center;padding-top:80px;font-size:13px;}