@keyframes rotateIn{
	0%{
		transform:translate(800px,-800px);

	}
	100%{
		transform:translate(0,0);
		
	}
}
@-moz-keyframes rotateIn{
	0%{
		transform:translate(800px,-800px);

	}
	100%{
		transform:translate(0px,0px);
		
	}
}

@-ms-keyframes rotateIn{
	0%{
		transform:translate(800px,-800px);

	}
	100%{
		transform:translate(0px,0px);
		
	}
}
@-webkit-keyframes rotateIn{
	0%{
		transform:translate(800px,-800px);

	}
	100%{
		transform:translate(0px,0px);
		
	}
}


.banner{
	width:100%;
	height:300px;
	/*background-color: skyblue;*/
	background:url('./img/original.jpg') center center;
	
}

.header .banner .inner{
	height:254px;
	/*background-color: red;*/
	padding-top:46px;
	text-align: right; /*作用行级块元素*/
	animation:rotateIn .8s linear;
}

.header .banner .inner h2{
	font-size: 34px;
	margin-bottom: 15px;
	color:white;
}
.header .banner .inner .label span{
	display: inline-block;
	padding:10px;
	background-color: rgba(255,255,255,.3);
	margin-right: 14px;
	border-radius: 2px;
	color:white;
	
}

.header .banner .inner .label{
	margin-bottom: 22px;
}

.header .banner .inner .time{
	color:white;
	font-size: 18px;
	margin-bottom: 20px;
}
.header .banner .inner a{
	display: inline-block;
	width:240px;
	height:46px;
	line-height: 46px;
	text-align: center;
	color: white;
	background-color: #fe5341;
	font-size: 24px;
}
.main .hot-box{
	width:100%;
	height:380px;
	/*background-color: red;*/
}
.main{
	overflow: hidden;
}
.main .hot-box .inner{
	height:380px;
	/*background-color: blue;*/
}

.main .inner .title{
	height:70px;
	line-height: 70px;
	font-size:24px;

}

.main .hot-box .inner .slide-box{
	height:288px;
	/*background-color: green;*/
	width:1002px;
	position: relative;
}
.main .hot-box .inner .slide-box .prev,
.main .hot-box .inner .slide-box .next{
	display: block;
	width:37px;
	height:78px;
	position: absolute;
	top:120px;
}
.main .hot-box .inner .slide-box .prev{
	background-image: url('./img/prev.png');
	left:-60px;
}

.main .hot-box .inner .slide-box .next{
	background-image: url('./img/next.png');
	right:-60px;
}

.main .hot-box .inner .slide-box .hot{
	height:288px;
	width:1002px;
	/*background-color: yellow;*/
	overflow: hidden;
}
.main .hot-box .inner .slide-box .hot ul{
	height:288px;
	width:3006px;
	/*background-color: skyblue;*/
	position: relative;
}

.main .hot-box .inner .slide-box .hot ul li{
	height:288px;
	width:1002px;
	float:left;
}

.main .report-box{
	width:100%;
	height:590px;
	background-color: #ddd;

}
.main .inner{
	position: relative;
}
.main .report-box .inner{
	/*width:100%;*/
	height:590px;
	/*background-color: red;*/
}
.main .inner .more{
	position: absolute;
	top:28px;
	right: 0;
	color:red;
	padding-right: 17px;
	background: url(./img/readMore.png) no-repeat  right center;
}

.main .guide{
	height:380px;
}
.main .duide .inner{
	height:380px;
}
.footer{
	height:300px;
	width:100%;
	/*position: center center;*/
	position: relative;

}


.main .fx-box{
	overflow: hidden;
	width:100%;
	background-color: #ddd; 
}
.footer img{
	position: center center;
}

#backTop{
	display: none;
	width:50px;
	height:50px;
	background: #ccc url(./img/back.png) no-repeat center;
	position: fixed;
	right: 100px;
	top:600px;
	transition:all .1s linear;
	border-radius: 4px;

}
#backTop:hover{
	background: #999 url(./img/back.png) no-repeat center center;
}